p {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
    text-align: left;
    height: 100px;
    width: 140px;
  }

.p1{
    background-color: red; 
    top: 0ch;
    left: 0ch;
}
.p2{
    background-color: yellow;
    top: 0ch;
    right: 0ch;
}

.p3{
    background-color: green;
    bottom: 0ch;
    left: 0ch;
}

.p4{
    background-color: blue;
    bottom: 0ch;
    right: 0ch;
}